 /* Color of the links BEFORE scroll */
    .navbar-before-scroll .nav-link,
    .navbar-before-scroll .navbar-toggler-icon {
      color: #fff;
    }

    /* Color of the links AFTER scroll */
    .navbar-after-scroll .nav-link,
    .navbar-after-scroll .navbar-toggler-icon {
      color: #4f4f4f;
    }

    /* Color of the navbar AFTER scroll */
    .navbar-after-scroll {
      background-color: #fff;
    }

    /* Transition after scrolling */
    .navbar-after-scroll {
      transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }

    /* Transition to the initial state */
    .navbar-before-scroll {
      transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }

    /* An optional height of the navbar AFTER scroll */
    .navbar.navbar-before-scroll.navbar-after-scroll {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    /* Navbar on mobile */
    @media (max-width: 991.98px) {
      #main-navbar {
        background-color: #fff;
      }

      .nav-link,
      .navbar-toggler-icon {
        color: #4f4f4f !important;
      }
    }

    @media (min-width: 992px) {
      .rotate-lg {
        transform: rotate(6deg);
      }
    }

    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
      #intro {
        margin-top: -58.59px;
      }
    }

    .navbar .nav-link {
      color: #fff;
    }
